In [2]:
import numpy as np
import pandas as pd

# Extract the unique X3 and Y2 values to complete the grid
X2_range = np.arange(-70, 71, 10)
Y2_range = np.arange(-70, 71, 10)
Z2_value = 125

# Initialize an empty list for the new data
new_data = []

# Loop over X2 and Y2 values to generate the required rows of data
for X2 in X2_range:
    for Y2 in Y2_range:
        Z2 = Z2_value

        while True:  # Continue generating values until either condition is satisfied
            # Generate x2, y2, z2 that satisfy delta conditions
            delta_x2 = np.random.uniform(-7, 6)
            delta_y2 = np.random.uniform(-6, 5)
            x2 = X2 + delta_x2
            y2 = Y2 + delta_y2

            # Calculate delta_xy2
            delta_xy2 = np.sqrt(delta_x2**2 + delta_y2**2)

            # Generate delta_z2 within the range (-6, 10)
            delta_z2 = np.random.uniform(-10, 0)
            z2 = Z2 + delta_z2

            # Calculate delta_xyz2
            delta_xyz2 = np.sqrt(delta_x2**2 + delta_y2**2 + delta_z2**2)

            # Check both conditions, if either fails regenerate data
            xy_condition = (1 < delta_xy2 < 9) and (np.random.rand() >= 0.6 or (4 <= delta_xy2 <= 7))
            xyz_condition = (3.5 <= delta_xyz2 < 12) and (np.random.rand() >= 0.6 or (6 <= delta_xyz2 <= 10))

            if xy_condition and xyz_condition:
                break  # If both conditions are satisfied, break the loop

        # Add the new row to the dataset
        new_data.append([X2, Y2, Z2, x2, y2, z2, delta_x2, delta_y2, delta_z2, delta_xy2, delta_xyz2])

# Convert the new_data into a DataFrame
new_data_df = pd.DataFrame(new_data, columns=[
    'X4', 'Y4', 'Z4', 'x4', 'y4', 'z4', 'delta_x4', 'delta_y4', 'delta_z4', 'delta_xy4', 'delta_xyz4'
])

# Save the new data to a CSV file
new_file_path = 'E:\Project\OOC\LEDs_Data_Processing\Encode_Decode\draw\data\\new_data_yaw90_pitch20_roll10.xlsx'
new_data_df.to_excel(new_file_path, index=False)

# Display the first few rows of the generated data
new_data_df.head()

,X4,Y4,Z4,x4,y4,z4,delta_x4,delta_y4,delta_z4,delta_xy4,delta_xyz4
0,-70,-70,125,-75.073586,-70.588126,120.759708,-5.073586,-0.588126,-4.240292,5.107559,6.638316
1,-70,-60,125,-64.501577,-61.790522,121.801925,5.498423,-1.790522,-3.198075,5.782614,6.608049
2,-70,-50,125,-74.133011,-45.800604,118.926388,-4.133011,4.199396,-6.073612,5.892088,8.462001
3,-70,-40,125,-75.925967,-37.888573,120.362318,-5.925967,2.111427,-4.637682,6.290883,7.815581
4,-70,-30,125,-72.369717,-32.724928,116.050711,-2.369717,-2.724928,-8.949289,3.611204,9.650418