In [2]:
import numpy as np
import pandas as pd

# Extract the unique X2 and Y2 values to complete the grid
X2_range = np.arange(-70, 71, 10)
Y2_range = np.arange(-70, 71, 10)
Z2_value = 130

# Initialize an empty list for the new data
new_data = []

# Loop over X2 and Y2 values to generate exactly 199 rows of data

for X2 in X2_range:
    for Y2 in Y2_range:
        Z2 = Z2_value

        # Generate x2, y2, z2 that satisfy delta conditions
        delta_x2 = np.random.uniform(-3, 6)
        delta_y2 = np.random.uniform(-3, 6)
        x2 = X2 + delta_x2
        y2 = Y2 + delta_y2

        # Ensure delta_xy2 is between 0 and 6.5, with 60% between 2 and 4
        delta_xy2 = np.sqrt(delta_x2**2 + delta_y2**2)
        if not (0 <= delta_xy2 <= 6.5):
            continue
        if np.random.rand() < 0.6 and not (2 <= delta_xy2 <= 4):
            continue

        # Generate delta_z2 within the range (-6, 10)
        delta_z2 = np.random.uniform(-6, 10)
        z2 = Z2 + delta_z2

        # Ensure delta_xyz2 is between 2 and 10, with 60% between 6 and 10
        delta_xyz2 = np.sqrt(delta_x2**2 + delta_y2**2 + delta_z2**2)
        if not (2 <= delta_xyz2 <= 10):
            continue
        if np.random.rand() < 0.6 and not (6 <= delta_xyz2 <= 10):
            continue

        # Add the new row to the dataset
        new_data.append([X2, Y2, Z2, x2, y2, z2, delta_x2, delta_y2, delta_z2, delta_xy2, delta_xyz2])


# Convert to a DataFrame
new_data_df = pd.DataFrame(new_data, columns=[
    'X2', 'Y2', 'Z2', 'x2', 'y2', 'z2', 'delta_x2', 'delta_y2', 'delta_z2', 'delta_xy2', 'delta_xyz2'
])

# Save the new data to a CSV file
new_file_path = 'new_indoor_position_data_4.csv'
new_data_df.to_csv(new_file_path, index=False)

# Display the new DataFrame
new_data_df.head()

,X2,Y2,Z2,x2,y2,z2,delta_x2,delta_y2,delta_z2,delta_xy2,delta_xyz2
0,-70,-60,130,-70.412967,-56.911443,137.725518,-0.412967,3.088557,7.725518,3.116043,8.330267
1,-70,-40,130,-70.018105,-35.057459,134.272146,-0.018105,4.942541,4.272146,4.942574,6.533014
2,-70,-10,130,-72.710665,-5.063441,126.812703,-2.710665,4.936559,-3.187297,5.631814,6.471181
3,-70,0,130,-72.208107,-0.039826,135.061568,-2.208107,-0.039826,5.061568,2.208466,5.522390
4,-70,10,130,-69.266519,7.008453,125.398872,0.733481,-2.991547,-4.601128,3.080154,5.536942