In [1]:
import numpy as np
import pandas as pd

# Extract the unique X3 and Y2 values to complete the grid
X2_range = np.arange(-70, 71, 10)
Y2_range = np.arange(-70, 71, 10)
Z2_value = 135

# Initialize an empty list for the new data
new_data = []

# Loop over X2 and Y2 values to generate the required rows of data
for X2 in X2_range:
    for Y2 in Y2_range:
        Z2 = Z2_value

        while True:  # Continue generating values until either condition is satisfied
            # Generate x2, y2, z2 that satisfy delta conditions
            delta_x2 = np.random.uniform(-5, 7)
            delta_y2 = np.random.uniform(-7, 6)
            x2 = X2 + delta_x2
            y2 = Y2 + delta_y2

            # Calculate delta_xy2
            delta_xy2 = np.sqrt(delta_x2**2 + delta_y2**2)

            # Generate delta_z2 within the range (-6, 10)
            delta_z2 = np.random.uniform(-6, 16)
            z2 = Z2 + delta_z2

            # Calculate delta_xyz2
            delta_xyz2 = np.sqrt(delta_x2**2 + delta_y2**2 + delta_z2**2)

            # Check both conditions, if either fails regenerate data
            xy_condition = (1 < delta_xy2 < 7) and (np.random.rand() >= 0.6 or (3 <= delta_xy2 <= 5))
            xyz_condition = (3 <= delta_xyz2 <= 16) and (np.random.rand() >= 0.6 or (9 <= delta_xyz2 <= 14))

            if xy_condition and xyz_condition:
                break  # If both conditions are satisfied, break the loop

        # Add the new row to the dataset
        new_data.append([X2, Y2, Z2, x2, y2, z2, delta_x2, delta_y2, delta_z2, delta_xy2, delta_xyz2])

# Convert the new_data into a DataFrame
new_data_df = pd.DataFrame(new_data, columns=[
    'X3', 'Y3', 'Z3', 'x3', 'y3', 'z3', 'delta_x3', 'delta_y3', 'delta_z3', 'delta_xy3', 'delta_xyz3'
])

# Save the new data to a CSV file
new_file_path = 'E:\Project\OOC\LEDs_Data_Processing\Encode_Decode\draw\data\\data_yaw0_pitch20_roll10.xlsx'
new_data_df.to_excel(new_file_path, index=False)

# Display the first few rows of the generated data
new_data_df.head()

,X3,Y3,Z3,x3,y3,z3,delta_x3,delta_y3,delta_z3,delta_xy3,delta_xyz3
0,-70,-70,135,-71.005412,-64.370661,131.329599,-1.005412,5.629339,-3.670401,5.718418,6.795009
1,-70,-60,135,-65.801971,-57.744612,142.883285,4.198029,2.255388,7.883285,4.765524,9.211754
2,-70,-50,135,-73.470088,-45.920943,136.732186,-3.470088,4.079057,1.732186,5.355391,5.628560
3,-70,-40,135,-67.950556,-35.530404,145.149330,2.049444,4.469596,10.149330,4.917063,11.277695
4,-70,-30,135,-68.716041,-34.750172,147.726220,1.283959,-4.750172,12.726220,4.920638,13.644389