In [1]:
import numpy as np
import pandas as pd

# Extract the unique X2 and Y2 values to complete the grid
X2_range = np.arange(-70, 71, 10)
Y2_range = np.arange(-70, 71, 10)
Z2_value = 130

# Initialize an empty list for the new data
new_data = []

# Loop over X2 and Y2 values to generate the required rows of data
for X2 in X2_range:
    for Y2 in Y2_range:
        Z2 = Z2_value

        while True:  # Continue generating values until either condition is satisfied
            # Generate x2, y2, z2 that satisfy delta conditions
            delta_x2 = np.random.uniform(-3, 6)
            delta_y2 = np.random.uniform(-3, 6)
            x2 = X2 + delta_x2
            y2 = Y2 + delta_y2

            # Calculate delta_xy2
            delta_xy2 = np.sqrt(delta_x2**2 + delta_y2**2)

            # Generate delta_z2 within the range (-6, 10)
            delta_z2 = np.random.uniform(-6, 10)
            z2 = Z2 + delta_z2

            # Calculate delta_xyz2
            delta_xyz2 = np.sqrt(delta_x2**2 + delta_y2**2 + delta_z2**2)

            # Check both conditions, if either fails regenerate data
            xy_condition = (0 <= delta_xy2 <= 6.5) and (np.random.rand() >= 0.6 or (2 <= delta_xy2 <= 4))
            xyz_condition = (2 <= delta_xyz2 <= 10) and (np.random.rand() >= 0.6 or (6 <= delta_xyz2 <= 10))

            if xy_condition and xyz_condition:
                break  # If both conditions are satisfied, break the loop

        # Add the new row to the dataset
        new_data.append([X2, Y2, Z2, x2, y2, z2, delta_x2, delta_y2, delta_z2, delta_xy2, delta_xyz2])

# Convert the new_data into a DataFrame
new_data_df = pd.DataFrame(new_data, columns=[
    'X2', 'Y2', 'Z2', 'x2', 'y2', 'z2', 'delta_x2', 'delta_y2', 'delta_z2', 'delta_xy2', 'delta_xyz2'
])

# Save the new data to a CSV file
new_file_path = 'new_indoor_position_data_edited.csv'
new_data_df.to_csv(new_file_path, index=False)

# Display the first few rows of the generated data
new_data_df.head()

,X2,Y2,Z2,x2,y2,z2,delta_x2,delta_y2,delta_z2,delta_xy2,delta_xyz2
0,-70,-70,130,-72.302555,-65.283813,132.952830,-2.302555,4.716187,2.952830,5.248255,6.021909
1,-70,-60,130,-66.253128,-57.889725,135.478340,3.746872,2.110275,5.478340,4.300269,6.964519
2,-70,-50,130,-72.147440,-49.991841,128.305873,-2.147440,0.008159,-1.694127,2.147455,2.735257
3,-70,-40,130,-66.296366,-37.711506,126.570984,3.703634,2.288494,-3.429016,4.353632,5.541865
4,-70,-30,130,-69.572899,-27.286977,125.907987,0.427101,2.713023,-4.092013,2.746436,4.928233